YOUTUBE_API_KEY=AIzaSyCGGZKcg43OwrjyMjKOblyPiX6LOpGg1hg
CHANNEL_ID=UCf6O5PF9FjHiV-junEa27AQ
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1482169182672912546/R0QPR7TXqcW4JXrPSuQQ0dPkXQ-azetKjrk5VPmtZxAz_IYhYX2N84q3zSU0xa7F9NCF
CHECK_INTERVAL_MINUTES=10
RENDER_EXTERNAL_URL=15

